In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../datasets/Gold/Au_nanoparticle_dataset.csv")
df

,ID,T,tau,time,N_total,N_bulk,N_surface,Volume,R_min,R_max,...,q6q6_S14,q6q6_S15,q6q6_S16,q6q6_S17,q6q6_S18,q6q6_S19,q6q6_S20,q6q6_S20+,Total_E,Formation_E
0,1,273,0.000025,1,1599,1014,585,2.710000e-26,15.5898,19.4516,...,0,0,0,0,0,0,0,0,-5908.6345,343.4555
1,2,273,0.000025,2,1642,1034,608,2.780000e-26,15.3996,24.1755,...,0,0,0,0,0,0,0,0,-6035.4034,384.8166
2,3,273,0.000025,3,4637,3365,1272,7.850000e-26,21.9199,31.0305,...,0,0,0,0,0,0,0,0,-17330.1660,800.5040
3,4,273,0.000025,4,7189,5292,1897,1.220000e-25,23.2542,37.8795,...,0,0,0,0,0,0,0,0,-26937.2010,1171.7890
4,5,273,0.000025,5,11004,8508,2496,1.860000e-25,27.1200,39.7614,...,0,0,0,0,0,0,0,0,-41427.9010,1597.7390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,973,0.000250,6,1509,950,559,2.550000e-26,13.8048,23.1729,...,0,0,0,0,0,0,0,0,-5346.9589,553.2311
3996,3997,973,0.000250,7,2315,1469,846,3.920000e-26,12.0020,36.7573,...,0,0,0,0,0,0,0,0,-8218.1252,833.5248
3997,3998,973,0.000250,8,2764,1905,859,4.680000e-26,18.8611,24.6101,...,0,0,0,0,0,0,0,0,-9876.2899,930.9501
3998,3999,973,0.000250,9,3148,2199,949,5.330000e-26,18.7624,26.0008,...,0,0,0,0,0,0,0,0,-11261.0810,1047.5990
3999,4000,973,0.000250,10,3986,2785,1201,6.750000e-26,19.1334,44.7678,...,0,0,0,0,0,0,0,0,-14264.3970,NaN

In [3]:
df = df.dropna()
df

,ID,T,tau,time,N_total,N_bulk,N_surface,Volume,R_min,R_max,...,q6q6_S14,q6q6_S15,q6q6_S16,q6q6_S17,q6q6_S18,q6q6_S19,q6q6_S20,q6q6_S20+,Total_E,Formation_E
0,1,273,0.000025,1,1599,1014,585,2.710000e-26,15.5898,19.4516,...,0,0,0,0,0,0,0,0,-5908.6345,343.4555
1,2,273,0.000025,2,1642,1034,608,2.780000e-26,15.3996,24.1755,...,0,0,0,0,0,0,0,0,-6035.4034,384.8166
2,3,273,0.000025,3,4637,3365,1272,7.850000e-26,21.9199,31.0305,...,0,0,0,0,0,0,0,0,-17330.1660,800.5040
3,4,273,0.000025,4,7189,5292,1897,1.220000e-25,23.2542,37.8795,...,0,0,0,0,0,0,0,0,-26937.2010,1171.7890
4,5,273,0.000025,5,11004,8508,2496,1.860000e-25,27.1200,39.7614,...,0,0,0,0,0,0,0,0,-41427.9010,1597.7390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,3995,973,0.000250,5,1201,683,518,2.030000e-26,11.7580,31.2844,...,0,0,0,0,0,0,0,0,-4230.5430,465.3670
3995,3996,973,0.000250,6,1509,950,559,2.550000e-26,13.8048,23.1729,...,0,0,0,0,0,0,0,0,-5346.9589,553.2311
3996,3997,973,0.000250,7,2315,1469,846,3.920000e-26,12.0020,36.7573,...,0,0,0,0,0,0,0,0,-8218.1252,833.5248
3997,3998,973,0.000250,8,2764,1905,859,4.680000e-26,18.8611,24.6101,...,0,0,0,0,0,0,0,0,-9876.2899,930.9501
3998,3999,973,0.000250,9,3148,2199,949,5.330000e-26,18.7624,26.0008,...,0,0,0,0,0,0,0,0,-11261.0810,1047.5990

In [4]:
df_subset = df.drop(['ID', 'Formation_E', 'Total_E'], axis=1)
df_subset

,T,tau,time,N_total,N_bulk,N_surface,Volume,R_min,R_max,R_diff,...,q6q6_S12,q6q6_S13,q6q6_S14,q6q6_S15,q6q6_S16,q6q6_S17,q6q6_S18,q6q6_S19,q6q6_S20,q6q6_S20+
0,273,0.000025,1,1599,1014,585,2.710000e-26,15.5898,19.4516,3.8618,...,0,1,0,0,0,0,0,0,0,0
1,273,0.000025,2,1642,1034,608,2.780000e-26,15.3996,24.1755,8.7760,...,1,0,0,0,0,0,0,0,0,0
2,273,0.000025,3,4637,3365,1272,7.850000e-26,21.9199,31.0305,9.1106,...,1,0,0,0,0,0,0,0,0,0
3,273,0.000025,4,7189,5292,1897,1.220000e-25,23.2542,37.8795,14.6253,...,9,0,0,0,0,0,0,0,0,0
4,273,0.000025,5,11004,8508,2496,1.860000e-25,27.1200,39.7614,12.6415,...,7,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,973,0.000250,5,1201,683,518,2.030000e-26,11.7580,31.2844,19.5264,...,0,0,0,0,0,0,0,0,0,0
3995,973,0.000250,6,1509,950,559,2.550000e-26,13.8048,23.1729,9.3681,...,0,0,0,0,0,0,0,0,0,0
3996,973,0.000250,7,2315,1469,846,3.920000e-26,12.0020,36.7573,24.7553,...,0,0,0,0,0,0,0,0,0,0
3997,973,0.000250,8,2764,1905,859,4.680000e-26,18.8611,24.6101,5.7490,...,0,0,0,0,0,0,0,0,0,0
3998,973,0.000250,9,3148,2199,949,5.330000e-26,18.7624,26.0008,7.2385,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# df_subset = pd.get_dummies(df_subset)
# df_subset

In [6]:
data = df_subset
labels_true = df[['Formation_E']]
scaler = StandardScaler()

for i in range(20):
    X_train, X_test, y_train, y_test = train_test_split(data, labels_true, test_size=0.2)
    X_train = scaler.fit_transform(X_train.values.astype(np.float32))
    X_test = scaler.transform(X_test.values.astype(np.float32))
    
    np.save("..\datasets\Gold_Nano\\X_train" + str(i) +".npy", X_train)
    np.save("..\datasets\Gold_Nano\\X_test" + str(i) +".npy", X_test)
    np.save("..\datasets\Gold_Nano\\y_train" + str(i) +".npy", y_train)
    np.save("..\datasets\Gold_Nano\\y_test" + str(i) +".npy", y_test)

In [7]:
seed_rf = np.random.randint(100, size=100)
seed_initial = np.random.randint(100, size=100)
seed_nn_1 = np.random.randint(100, size=100)
seed_nn_2 = np.random.randint(100, size=100)
seed_nn_3 = np.random.randint(100, size=100)

np.save(file="..\datasets\Gold_Nano\seed_for_RF.npy", arr=seed_rf)
np.save(file="..\datasets\Gold_Nano\seed_for_initialSamples.npy", arr=seed_initial)
# np.save(file="..\datasets\AutoMPG\seed_for_nn1.npy", arr=seed_nn_1)
# np.save(file="..\datasets\AutoMPG\seed_for_nn2.npy", arr=seed_nn_2)
# np.save(file="..\datasets\AutoMPG\seed_for_nn3.npy", arr=seed_nn_3)

In [8]:
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
import pandas as pd

total_test_r2 = []
total_test_mse = []

iteration = 20

seed_rf = np.load(file="..\datasets\Gold_Nano\seed_for_RF.npy")

for iters in range(iteration):
    print("Iteration:", iters)
    name1 = "..\datasets\Gold_Nano\X_train" + str(iters) + ".npy"
    name2 = "..\datasets\Gold_Nano\X_test" + str(iters) + ".npy"
    name3 = "..\datasets\Gold_Nano\y_train" + str(iters) + ".npy"
    name4 = "..\datasets\Gold_Nano\y_test" + str(iters) + ".npy"
    
    X_train = np.load(name1, allow_pickle=True).astype(np.float32)
    print(X_train.shape)
    X_test = np.load(name2, allow_pickle=True).astype(np.float32)
    y_train = np.load(name3, allow_pickle=True).astype(np.float32).reshape(-1, 1)
    y_test = np.load(name4, allow_pickle=True).astype(np.float32).reshape(-1, 1)
    # print(X_train.shape)
    # print(X_test.shape)
    # print(y_train.shape)
    # print(y_test.shape)
    
    estimator=RandomForestRegressor(n_estimators=100, random_state=seed_rf[iters])
    estimator.fit(X_train, y_train.ravel())
    prediction_=estimator.predict(X_test)
    
    total_test_r2.append(r2_score(y_test, prediction_))
    total_test_mse.append(mean_squared_error(y_test, prediction_))

Iteration: 0
(3199, 182)
Iteration: 1
(3199, 182)
Iteration: 2
(3199, 182)
Iteration: 3
(3199, 182)
Iteration: 4
(3199, 182)
Iteration: 5
(3199, 182)
Iteration: 6
(3199, 182)
Iteration: 7
(3199, 182)
Iteration: 8
(3199, 182)
Iteration: 9
(3199, 182)
Iteration: 10
(3199, 182)
Iteration: 11
(3199, 182)
Iteration: 12
(3199, 182)
Iteration: 13
(3199, 182)
Iteration: 14
(3199, 182)
Iteration: 15
(3199, 182)
Iteration: 16
(3199, 182)
Iteration: 17
(3199, 182)
Iteration: 18
(3199, 182)
Iteration: 19
(3199, 182)

In [9]:
print("Median R2:", np.mean(np.array(total_test_r2)))
print("Median RMSE:", np.mean(np.sqrt(np.array(total_test_mse))))

Median R2: 0.9959864349887273
Median RMSE: 47.73965812800299